@model ISR.Models.User

@{
    ViewBag.Title = "RegisterSucces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterSucces</h2>

<p>Dziękujemy @ViewBag.Login za zarejestrowanie się w naszym serwisie.</p>

